/* Global Styles */
body {
  background-color: gray;
   margin: 0;
  font-family: Arial, sans-serif;
}

p {
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  box-shadow: 0


  ul {
  font-size: 30px;
  box-shadow: 2px 2px 5px #888; 
  padding: 10px;
}

li {
  display: inline-block; /* розміщуємо елементи в одному рядку */
  margin-right: 20px; /* додаємо відступи між елементами */
  font-size: 30px;
}